body
{
	padding: 0;
	margin: 0;
	background-image: url("../background.jpg");
}

logo
{
	display: block;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

audioicon
{
	cursor: pointer;
	display: block;
	position: fixed;
	right: 20px;
	top: 20px;
	width: 50px;
	height: 50px;
	background-image: url("../images/misc/icon_sound_on.png");
}

@media(min-width: 721px) {
	logo 
	{
		width: 705px;
		height: 414px;
		background-image: url("../logo.png");
	}
}

@media(max-width: 721px) {
	logo
	{
		width: 275px;
		height: 182px;
		background-image: url("../images/misc/title_mobile.gif");
	}
}

gifsanity
{
	display: block;
	width: auto;
	text-align: relative;
	width: 50%;
	height: 100%;
	line-height: 0;	
}

gifsanity img
{
	width: 200px;
	height: 200px;
}

a img
{
	border: 0;
}

.flipmeX {
 -webkit-animation: flipX 1.3s ease-out;
 -moz-animation: flipX 1.3s ease-out;
 animation: flipX 1.3s ease-out;
 -webkit-animation-iteration-count: 1;
 -moz-animation-iteration-count: 1;
 animation-iteration-count: 1;
}

.flipmeY {
 -webkit-animation: flipY 1.3s ease-out;
 -moz-animation: flipY 1.3s ease-out;
 animation: flipY 1.3s ease-out;
 -webkit-animation-iteration-count: 1;
 -moz-animation-iteration-count: 1;
 animation-iteration-count: 1;
}

@keyframes flipY {
   0% { transform: scale(1, 1); }
   50% { transform: scale(1.2, 1.2) rotateY(180deg); }
   100% { transform: scale(1, 1); }
}

@-webkit-keyframes flipY {
   0% {-webkit-transform: scale(1, 1); }
   50% {-webkit-transform: scale(1.2, 1.2) rotateY(180deg); }
   100% {-webkit-transform: scale(1, 1); }
}

@-moz-keyframes flipY {
   0% {-moz-transform: scale(1, 1); }
   50% {-moz-transform: scale(1.2, 1.2) rotateY(180deg);}
   100% {-moz-transform: scale(1, 1);}
}

@keyframes flipX {
   0% { transform: scale(1, 1); }
   50% { transform: scale(1.2, 1.2) rotateX(180deg); }
   100% { transform: scale(1, 1); }
}

@-webkit-keyframes flipX {
   0% {-webkit-transform: scale(1, 1); }
   50% {-webkit-transform: scale(1.2, 1.2) rotateX(180deg); }
   100% {-webkit-transform: scale(1, 1); }
}

@-moz-keyframes flipX {
   0% {-moz-transform: scale(1, 1); }
   50% {-moz-transform: scale(1.2, 1.2) rotateX(180deg); }
   100% {-moz-transform: scale(1, 1); }
}

section{
  position:center;
  width:640px;
}
nav{
  width:100%;
}
nav ul li{
  display:inline-block;
  list-style:none;
  width:160px;
  text-align:center;
  font-family:Helvetica, sans-serif;
  border: 1px dashed rgba(255,255,255, 1.0);
  color:#000;
  padding:10px 0 10px 0;
  margin:-1px -5px -1px -1px;
  cursor:pointer;
  background: rgba(255,255,255, 0.1);
}
nav ul li:hover{
  /*border:1px dashed #fff;*/
  background:rgba(255,255,255,1.0);
}
nav ul{
  border: 1px solid #fff;
  position:absolute;
  width:100%;
  padding:0;
  z-index:100;
  background: rgba(255,255,255, 0.1);
}