body
{
	padding: 0;
	margin: 0;
}

logo
{
	display: block;
	height: 326px;
	width: 700px;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

audioicon
{
	cursor: pointer;
	display: block;
	position: fixed;
	right: 20px;
	top: 20px;
	width: 50px;
	height: 50px;
	background-image: url("../images/misc/icon_sound_on.png");
}

@media(min-width: 721px) {
	logo 
	{
		width: 705px;
		height: 414px;
		background-image: url("../logo.png");
	}
}

@media(max-width: 721px) {
	logo
	{
		width: 275px;
		height: 182px;
		background-image: url("../images/misc/title_mobile.gif");
	}
}

gifsanity
{
	display: block;
	width: auto;
	text-align: center;
	width: 100%;
	height: 100%;
	line-height: 0;	
}

gifsanity img
{
	width: 200px;
	height: 200px;
}

a img
{
	border: 0;
}

gifsanityHCL
{
	display: block;
	width: auto;
	text-align: left;
	width: 50%;
	height: 100%;
	line-height: 0;
}

gifsanityHCR
{
	display: block;
	width: auto;
	text-align: right;
	width: 50%;
	height: 100%;
	line-height: 0;
}


.flipmeX {
 -webkit-animation: flipX 1.3s ease-out;
 -moz-animation: flipX 1.3s ease-out;
 animation: flipX 1.3s ease-out;
 -webkit-animation-iteration-count: 1;
 -moz-animation-iteration-count: 1;
 animation-iteration-count: 1;
}

.flipmeY {
 -webkit-animation: flipY 1.3s ease-out;
 -moz-animation: flipY 1.3s ease-out;
 animation: flipY 1.3s ease-out;
 -webkit-animation-iteration-count: 1;
 -moz-animation-iteration-count: 1;
 animation-iteration-count: 1;
}

@keyframes flipY {
   0% { transform: scale(1, 1); }
   50% { transform: scale(1.2, 1.2) rotateY(180deg); }
   100% { transform: scale(1, 1); }
}

@-webkit-keyframes flipY {
   0% {-webkit-transform: scale(1, 1); }
   50% {-webkit-transform: scale(1.2, 1.2) rotateY(180deg); }
   100% {-webkit-transform: scale(1, 1); }
}

@-moz-keyframes flipY {
   0% {-moz-transform: scale(1, 1); }
   50% {-moz-transform: scale(1.2, 1.2) rotateY(180deg);}
   100% {-moz-transform: scale(1, 1);}
}

@keyframes flipX {
   0% { transform: scale(1, 1); }
   50% { transform: scale(1.2, 1.2) rotateX(180deg); }
   100% { transform: scale(1, 1); }
}

@-webkit-keyframes flipX {
   0% {-webkit-transform: scale(1, 1); }
   50% {-webkit-transform: scale(1.2, 1.2) rotateX(180deg); }
   100% {-webkit-transform: scale(1, 1); }
}

@-moz-keyframes flipX {
   0% {-moz-transform: scale(1, 1); }
   50% {-moz-transform: scale(1.2, 1.2) rotateX(180deg); }
   100% {-moz-transform: scale(1, 1); }
}

section{
  position:center;
  width:720px;
}
 
 body { font: 400 20px 'Proxima Nova', 'Helvetica Neue', Helvetica; -webkit-font-smoothing: antialiased; }
nav { margin: 0 auto; width: 10em; }
p { color: #00CCFF; text-align: center;  }
a { color: #00CCFF; text-decoration: none; transition: .2s all; }
a:hover { color: #FF0000; }

ul {
  list-style: none;
  padding: 0;
  position: relative;
  top: -6.5em;
  transition: .5s all;
}
ul:hover {
  top: 0;
}
li {
  text-align: center;
  margin: 1em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

ul:after {
  content: '';
  width: 1.5em;
  height: 4px;
  display: block;
  margin: 0 auto;
  border-top: 3px solid #FF0000;
  border-bottom: 10px double #FF0000;
  opacity: .60;
  transition: .2s all;
  cursor: pointer;
}
ul:hover:after {
  opacity: 100;
}


h1{
  font-family: helvetica,sans-serif;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  letter-spacing: .01em;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(231, 76, 60,0.9);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:10%;
	margin-left: -20%;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#0493bd;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	border-radius: 0;
	vertical-align: middle;
	background-color: #ecf0f1;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid #bdc3c7;
}

.feedback-input:focus{
	background: #ecf0f1;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://wpplus.me/wp-content/uploads/2013/08/head-32x32.png);
	background-size: 32px 32px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://wpplus.me/wp-content/uploads/2013/08/head-32x32.png);
	background-size: 32px 32px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://wpplus.me/wp-content/uploads/2013/08/envelope-32x32.png);
	background-size: 32px 32px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://wpplus.me/wp-content/uploads/2013/08/envelope-32x32.png);
	background-size: 32px 32px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://wpplus.me/wp-content/uploads/2013/08/pencil-32x32.png);
	background-size: 32px 32px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-bottom{
	font-family: webfontbold, Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: rgba(9,179,116,0.9);
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
}

#button-bottom:hover{
	background-color: rgba(230, 126, 34,0.9);
	color: rgba(52, 73, 94,0.9);
}
	
.submit:hover{
	color: rgba(149, 165, 166,0.9);
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}


html{background:url(https://33.media.tumblr.com/06f896a8ea841d80bd3568524233929f/tumblr_n3schdlIa31saunalo1_400.gif);
 background-position:absolute;
 background-size: 20%;
 /* background-size: cover;*
  height:100%;*/
}

h1{
  font-family: helvetica,sans-serif;
  font-weight: 900;
  color: #fcfcf5;
  text-align: center;
  letter-spacing: .01em;
}

#feedback-page{
	text-align:center;
}

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:rgba(231, 76, 60,0.9);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: absolute;
  margin-top:10%;
	margin-left: -20%;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#0493bd;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	border-radius: 0;
	vertical-align: middle;
	background-color: #ecf0f1;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid #bdc3c7;
}

.feedback-input:focus{
	background: #ecf0f1;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://wpplus.me/wp-content/uploads/2013/08/head-32x32.png);
	background-size: 32px 32px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://wpplus.me/wp-content/uploads/2013/08/head-32x32.png);
	background-size: 32px 32px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://wpplus.me/wp-content/uploads/2013/08/envelope-32x32.png);
	background-size: 32px 32px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://wpplus.me/wp-content/uploads/2013/08/envelope-32x32.png);
	background-size: 32px 32px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://wpplus.me/wp-content/uploads/2013/08/pencil-32x32.png);
	background-size: 32px 32px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
	width: 100%;
	height: 150px;
	line-height: 150%;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-bottom{
	font-family: webfontbold, Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: rgba(9,179,116,0.9);
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
}

#button-bottom:hover{
	background-color: rgba(230, 126, 34,0.9);
	color: rgba(52, 73, 94,0.9);
}
	
.submit:hover{
	color: rgba(149, 165, 166,0.9);
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}
		
	